node-red import code
[{"id":"9f5beea9.11d15","type":"mqtt in","z":"4f1e1f9b.cee8f","name":"Plantsensor Hackerspace","topic":"lorakiss/devices/plantsensor/up","qos":"2","datatype":"json","broker":"7a365e82.d2cc08","x":110,"y":100,"wires":[["b43990d4.53bde","4a0cb700.6a056","356d694c.30f42e","2f91939f.ca9f54"]]},{"id":"2f91939f.ca9f54","type":"function","z":"4f1e1f9b.cee8f","name":"LoRaCLOUD API V2 LoRa location","func":"var loracloud_token = \"YOURACCESSTOKEN\"\nvar dev_url = \"https://gls.loracloud.com/api/v2/loraWifi\";\n\nvar data = {\n            \"lorawan\":[],\n            \"wifiAccessPoints\":[]\n            };\n\nif (msg.payload.metadata.gateways[0]) {\n\tdata[\"lorawan\"][0] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[0].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[0].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[0].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[0].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[0].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[0].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[0].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[0].altitude,\n\t\t\t\t\n\t\t\t\t    \n\t\t\t\t}\n};\n}\n\nif (msg.payload.metadata.gateways[1]) {\n\tdata[\"lorawan\"][1] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[1].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[1].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[1].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[1].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[1].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[1].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[1].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[1].altitude,\n\t\t\t\t}\n\t\t\t\t    \n\t\t\t\t};\n}\nif (msg.payload.metadata.gateways[2]) {\n\tdata[\"lorawan\"][2] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[2].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[2].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[2].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[2].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[2].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[2].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[2].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[2].altitude,\n\t\t\t\t}\n\t\t\t\t    \n\t\t\t\t};\n}\nif (msg.payload.metadata.gateways[3]) {\n\tdata[\"lorawan\"][3] = {\n\t\t\t\t\"gatewayId\": msg.payload.metadata.gateways[3].gtw_id,\n\t\t\t\t\"antennaId\":msg.payload.metadata.gateways[3].rf_chain,\n\t\t\t\t\"rssi\":msg.payload.metadata.gateways[3].rssi,\n\t\t\t\t\"snr\":msg.payload.metadata.gateways[3].snr,\n\t\t\t\t\"toa\": msg.payload.metadata.gateways[3].timestamp,\n\t\t\t\t\"encryptedToa\": \"\",\n\t\t\t\t\"antennaLocation\":{\n\t\t\t\t\"latitude\": msg.payload.metadata.gateways[3].latitude,\n\t\t\t\t\"longitude\": msg.payload.metadata.gateways[3].longitude,\n\t\t\t\t\"altitude\": msg.payload.metadata.gateways[3].altitude,\n\t\t\t\t}\n\t\t\t\t    \n\t\t\t\t};\n}\n\n\nvar msg = {\n            \"method\" : \"POST\",\n            \"url\" : dev_url,\n            \"headers\" : {\n                \"Ocp-Apim-Subscription-Key\" : loracloud_token,\n                \"Content-Type\": \"application/json\",\n            },\n            \"payload\" : JSON.stringify(data)\n            };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":160,"wires":[["e8e4608a.dfde88"]]},{"id":"e8e4608a.dfde88","type":"http request","z":"4f1e1f9b.cee8f","name":"","method":"use","ret":"txt","url":"","tls":"","x":630,"y":220,"wires":[["e9252964.c64e38"]]},{"id":"8d73e1a.42ad62","type":"function","z":"4f1e1f9b.cee8f","name":"Convert to GPS-json","func":"var msg1 = {};\n\nif (msg.payload.result) {\n\n    msg1.payload = msg.payload;\n    msg1.payload.date = Date().toString();\n    msg1.payload.lon = msg.payload.result.longitude;\n    msg1.payload.lat = msg.payload.result.latitude;\n\n    // processed with LoRaCLOUD\n    if (msg.payload.result) {\n        msg1.payload.radius = msg.payload.result.accuracy;\n        delete msg1.payload.result.accuracy;\n    }\n    msg1.payload.name=\"hackerspace\"\n}\n\n\nreturn msg1;","outputs":1,"noerr":0,"x":491,"y":317,"wires":[["1e55f490.2be323"]]},{"id":"e9252964.c64e38","type":"json","z":"4f1e1f9b.cee8f","name":"Convert to JSON","pretty":false,"x":275,"y":292,"wires":[["8d73e1a.42ad62"]]},{"id":"ee6f801a.8d9078","type":"ha-entity","z":"4f1e1f9b.cee8f","name":"soilmoisture hackerspace","server":"9decc04a.babdd","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Soilmoisture hackerspace"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"% water"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":810,"y":420,"wires":[[]]},{"id":"b43990d4.53bde","type":"function","z":"4f1e1f9b.cee8f","name":"","func":"\nvar msg = {\"payload\":msg.payload.payload_fields.analog_out_3\n            };\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":420,"wires":[["ee6f801a.8d9078"]]},{"id":"1e55f490.2be323","type":"function","z":"4f1e1f9b.cee8f","name":"","func":"\nnewmsg = {};\nnewmsg.payload = { data: {'gps': [msg.payload.lat,msg.payload.lon] } };\nreturn newmsg;\n","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["1f0d2b77.ed4dc5"]]},{"id":"1f0d2b77.ed4dc5","type":"api-call-service","z":"4f1e1f9b.cee8f","name":"Location plantsensor hackerspace","server":"9decc04a.babdd","version":1,"debugenabled":false,"service_domain":"device_tracker","service":"see","entityId":"","data":"{\"dev_id\":\"plantsensorhackerspace\",\"location_name\":\"Arhome\"}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":840,"y":360,"wires":[[]]},{"id":"4a0cb700.6a056","type":"function","z":"4f1e1f9b.cee8f","name":"","func":"\nvar msg = {\"payload\":msg.payload.payload_fields.relative_humidity_1\n            };\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":480,"wires":[["5cd179b3.b68eb8"]]},{"id":"356d694c.30f42e","type":"function","z":"4f1e1f9b.cee8f","name":"","func":"\nvar msg = {\"payload\":msg.payload.payload_fields.temperature_0\n            };\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":540,"wires":[["6346d4f8.c2728c"]]},{"id":"5cd179b3.b68eb8","type":"ha-entity","z":"4f1e1f9b.cee8f","name":"Humidity hackerspace","server":"9decc04a.babdd","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"humidity hackerspace"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"%"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":800,"y":480,"wires":[[]]},{"id":"6346d4f8.c2728c","type":"ha-entity","z":"4f1e1f9b.cee8f","name":"Temperature hackerspace","server":"9decc04a.babdd","version":1,"debugenabled":true,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":"Temperature hackerspace"},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":"T"}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"msg","inputOverride":"allow","x":810,"y":540,"wires":[[]]},{"id":"7a365e82.d2cc08","type":"mqtt-broker","z":"","name":"Plantsensor Hackerspace","broker":"mqtt://eu.thethings.network","port":"1990","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"9decc04a.babdd","type":"server","z":"","name":"Home Assistant","addon":true}]
